{% for id in storage_id %}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv{{ id }}
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  nfs:
    path: /kube/store{{ id }}
    server: {{ nfs_hostname }}
{% endfor %}
